<div class="">
  <div class="page-header">
    <div class="form-group">
      <input type="text" placeholder="Select Date" class="form-control date-range-picker" bsDaterangepicker>
    </div>

  </div>
  <div class="page-content">
    <div style="width:100%;">
      <perfect-scrollbar [scrollIndicators]="true">
        <table class="table table-bordered basic mt-3 subscrib-list-table card-list-table">
          <thead>
            <tr>
              <th>Signup Date <i class="fa fa-calendar pull-right"></i></th>
              <th>Name <i class="fa fa-search pull-right"></i></th>
              <th>Email <i class="fa fa-search pull-right"></i></th>
              <th>Mobile <i class="fa fa-search pull-right"></i></th>
              <th>Subscription ID <i class="fa fa-search pull-right"></i></th>
              <th>Plan Name <i class="fa fa-angle-down pull-right"></i></th>
              <th>No. of Companies </th>
              <th>Total Amount </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Signup Date">01/05/2019</td>
              <td data-title="Name">Alok</td>
              <td data-title="Email">alok@walkover.in</td>
              <td data-title="Mobile">8818888768</td>
              <td data-title="Subscription ID"><a href="#">9080</a></td>
              <td data-title="Plan Name">Plan 1</td>
              <td data-title="No. of Companies">100</td>
              <td data-title="Total Amount">10000/-</td>
            </tr>
            <tr>
              <td data-title="Signup Date">01/05/2019</td>
              <td data-title="Name">Alok</td>
              <td data-title="Email">alok@walkover.in</td>
              <td data-title="Mobile">8818888768</td>
              <td data-title="Subscription ID"><a href="#">9080</a></td>
              <td data-title="Plan Name">Plan 1</td>
              <td data-title="No. of Companies">100</td>
              <td data-title="Total Amount">10000
                <span class="expan-icon" (click)="onclick('firstExpand')">
                  <i class="fa fa-arrows-alt pull-right" aria-hidden="true"></i></span></td>
            </tr>
            <tr *ngIf="openExpanList === 'firstExpand' && expandList">
              <td data-title="Signup Date"></td>
              <td data-title="Name"></td>
              <td data-title="Email"></td>
              <td data-title="Mobile"></td>
              <td data-title="Subscription ID"><a href="#">9080</a></td>
              <td data-title="Plan Name">Plan 1</td>
              <td data-title="No. of Companies">100</td>
              <td data-title="Total Amount">10000/-</td>
            </tr>
            <tr *ngIf="openExpanList === 'firstExpand' && expandList">
              <td data-title="Signup Date"></td>
              <td data-title="Name"></td>
              <td data-title="Email"></td>
              <td data-title="Mobile"></td>
              <td data-title="Subscription ID"><a href="#">9080</a></td>
              <td data-title="Plan Name">Plan 1</td>
              <td data-title="No. of Companies">100</td>
              <td data-title="Total Amount">10000/-</td>
            </tr>
            <tr *ngIf="openExpanList === 'firstExpand' && expandList">
              <td data-title="Signup Date"></td>
              <td data-title="Name"></td>
              <td data-title="Email"></td>
              <td data-title="Mobile"></td>
              <td data-title="Subscription ID"><a href="#">9080</a></td>
              <td data-title="Plan Name">Plan 1</td>
              <td data-title="No. of Companies">100</td>
              <td data-title="Total Amount">10000/-</td>
            </tr>
            <tr>
              <td data-title="Signup Date">01/05/2019</td>
              <td data-title="Name">Alok</td>
              <td data-title="Email">alok@walkover.in</td>
              <td data-title="Mobile">8818888768</td>
              <td data-title="Subscription ID"><a href="#">9080</a></td>
              <td data-title="Plan Name">Plan 1</td>
              <td data-title="No. of Companies">100</td>
              <td data-title="Total Amount">10000
                <span class="expan-icon" (click)="onclick('secondExpand')">
                  <i class="fa fa-arrows-alt pull-right" aria-hidden="true"></i></span></td>
            </tr>
            <tr *ngIf="openExpanList === 'secondExpand' && expandList">
              <td data-title="Signup Date"></td>
              <td data-title="Name"></td>
              <td data-title="Email"></td>
              <td data-title="Mobile"></td>
              <td data-title="Subscription ID"><a href="#">9080</a></td>
              <td data-title="Plan Name">Plan 1</td>
              <td data-title="No. of Companies">100</td>
              <td data-title="Total Amount">10000/-</td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>

    </div>


  </div>


</div>
