<div class="">
  <div class="page-header">
    <div class="d-inline-flex">
      <h5>Subscribers List</h5>
      <a class="btn btn-link ml-2" href="#">Advance Search</a>
    </div>
    <button class="pull-right btn btn-blue">Assign Plan</button>
  </div>
  <div class="page-content">
    <div style="width:100%;">
      <perfect-scrollbar [scrollIndicators]="true">
        <table class="table table-bordered basic mt-3 subscrib-list-table card-list-table">
          <thead>
            <tr>
              <th>Signup On <i class="fa fa-search pull-right"></i></th>
              <th>Subscribe on</th>
              <th>Subscribtion Id</th>
              <th>Plan</th>
              <th>No of Company</th>
              <th>Transction Limit </th>
              <th>Balance </th>
              <th>Total Amount </th>
              <th>Additional Transction</th>
              <th>Additional Charges</th>
              <th>Rate/Transction</th>
              <th>Expiry</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Signup On">01/05/2019</td>
              <td data-title="Subscribe on">05/05/2019</td>
              <td data-title="Subscribtion Id"><a href="">2019-1001</a></td>
              <td data-title="Plan">Plan2</td>
              <td data-title="No of Company">10/100</td>
              <td data-title="Transction Limit">10000</td>
              <td data-title="Balance">1000</td>
              <td data-title="Total Amount">4000/-</td>
              <td data-title="Additional Transction">1000</td>
              <td data-title="Additional Charges">100</td>
              <td data-title="Rate/Transction">0.1</td>
              <td data-title="Expiry">05/06/2019</td>
              <td data-title="Status">Active/Inactive/Trial/Renew</td>

            </tr>
            <tr>
              <td data-title="Signup On">01/05/2019</td>
              <td data-title="Subscribe on">05/05/2019</td>
              <td data-title="Subscribtion Id"><a href="">2019-1001</a></td>
              <td data-title="Plan">Plan2</td>
              <td data-title="No of Company">10/100</td>
              <td data-title="Transction Limit">10000</td>
              <td data-title="Balance">1000</td>
              <td data-title="Total Amount">4000/-</td>
              <td data-title="Additional Transction">1000</td>
              <td data-title="Additional Charges">100</td>
              <td data-title="Rate/Transction">0.1</td>
              <td data-title="Expiry">05/06/2019</td>
              <td data-title="Status">Active/Inactive/Trial/Renew</td>

            </tr>
            <tr>
              <td data-title="Signup On">01/05/2019</td>
              <td data-title="Subscribe on">05/05/2019</td>
              <td data-title="Subscribtion Id"><a href="">2019-1001</a></td>
              <td data-title="Plan">Plan2</td>
              <td data-title="No of Company">10/100</td>
              <td data-title="Transction Limit">10000</td>
              <td data-title="Balance">1000</td>
              <td data-title="Total Amount">4000/-</td>
              <td data-title="Additional Transction">1000</td>
              <td data-title="Additional Charges">100</td>
              <td data-title="Rate/Transction">0.1</td>
              <td data-title="Expiry">05/06/2019</td>
              <td data-title="Status">Active/Inactive/Trial/Renew</td>

            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>

    </div>

    <div class="page-footer">
      <div class="row">
        <div class="col-md-1 col-sm-3 wrap-row">
          <div class="userNumber">
            <h4>90</h4>
          </div>
          <div class="aboutUser">
            <p>Total User</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-3 wrap-row">
          <div class="userNumber">
            <h4>75</h4>
          </div>
          <div class="aboutUser">
            <p>Active User</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-3 wrap-row">
          <div class="userNumber">
            <h4>15</h4>
          </div>
          <div class="aboutUser">
            <p>Inactive User</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-3 wrap-row">
          <div class="userNumber">
            <h4>10</h4>
          </div>
          <div class="aboutUser">
            <p>Trial</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
