<div class="pageHeader">
    <div class="input-group input-date">
        <span class="input-group-addon">
            <i class="fa fa-calendar pull-right"></i>
        </span>
        <input type="text" placeholder="Select Date" (bsValueChange)="onChangeFilterDate($event)"
            class="form-control date-range-picker" bsDaterangepicker>
    </div>
    <button type="button" class="btn btn-blue" (click)="togglePanel()">+ New Plan</button>
</div>
<div class="page-content">
    <div class="table-responsive">
        <table class="table table-bordered basic subscrib-list-table card-list-table">
            <thead>
                <tr (clickOutside)="inlineSearch = null">
                    <th class="table-search">
                        <div [hidden]="inlineSearch == 'planName'">
                          <div class="d-flex align-items-center justify-content-between">
                            <span>Plan Name</span>
                            <i class="fa fa-search pull-right" (click)="focusOnColumnSearch('planName')"></i>
                          </div>
                        </div>
                        <div class="input-container" [hidden]="inlineSearch !== 'planName'">
                            <input type="text" placeholder="Plan Name" class="form-control w100" #planNameField name="planName"
                                [(ngModel)]="getAllPlansPostRequest.planName" (keypress)="columnSearch()"
                                (keydown)="columnSearch()" />
                        </div>
                    </th>
                    <th>Created on</th>
                    <th (click)="sortBy('NO_OF_COMPANIES')">No of Company <i
                            [ngClass]="{'fa pull-right': 1 === 1, 'fa-sort-numeric-desc': getAllPlansRequest.sortType === 'desc' && getAllPlansRequest.sortBy === 'NO_OF_COMPANIES', 'fa-sort-numeric-asc': (getAllPlansRequest.sortType === 'asc' && getAllPlansRequest.sortBy === 'NO_OF_COMPANIES') || getAllPlansRequest.sortBy !== 'NO_OF_COMPANIES'}"></i>
                    </th>
                    <th (click)="sortBy('TOTAL_USERS')">Total User
                        <i
                            [ngClass]="{'fa pull-right': 1 === 1, 'fa-sort-numeric-desc': getAllPlansRequest.sortType === 'desc' && getAllPlansRequest.sortBy === 'TOTAL_USERS', 'fa-sort-numeric-asc': (getAllPlansRequest.sortType === 'asc' && getAllPlansRequest.sortBy === 'TOTAL_USERS') || getAllPlansRequest.sortBy !== 'TOTAL_USERS'}"></i>
                    </th>
                    <th (click)="sortBy('TOTAL_AMOUNT')">Total Amount
                        <i
                            [ngClass]="{'fa pull-right': 1 === 1, 'fa-sort-numeric-desc': getAllPlansRequest.sortType === 'desc' && getAllPlansRequest.sortBy === 'TOTAL_AMOUNT', 'fa-sort-numeric-asc': (getAllPlansRequest.sortType === 'asc' && getAllPlansRequest.sortBy === 'TOTAL_AMOUNT') || getAllPlansRequest.sortBy !== 'TOTAL_AMOUNT'}"></i>
                    </th>
                    <th (click)="sortBy('CREATED_AT')">Expiry in next 30 days
                        <i
                            [ngClass]="{'fa pull-right': 1 === 1, 'fa-sort-numeric-desc': getAllPlansRequest.sortType === 'desc' && getAllPlansRequest.sortBy === 'CREATED_AT', 'fa-sort-numeric-asc': (getAllPlansRequest.sortType === 'asc' && getAllPlansRequest.sortBy === 'CREATED_AT') || getAllPlansRequest.sortBy !== 'CREATED_AT'}"></i>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="plansData">
                <tr *ngFor="let plans of plansData.results">
                    <td>{{plans.name}}</td>
                    <td>{{plans.createdAt}}</td>
                    <td>{{plans.totalCompanies}}</td>
                    <td>{{plans.totalUsers}}</td>
                    <td>{{plans.amount}}</td>
                    <td>{{plans.expiry}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="plansData && plansData.totalItems > 19" class="paginationWrapper">
        <pagination [totalItems]="plansData.totalItems" [maxSize]="5" class="pagination-sm" [boundaryLinks]="true" [itemsPerPage]="20"
            [rotate]="false" previousText="&#9668;" nextText="&#9658;" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>

<app-create-plans *ngIf="togglePanelBool" [rightToggle]="togglePanelBool" (hidePopup)="hidePopup()"></app-create-plans>