.date-range-picker {
  width: 200px;
}
.table-search {
  width: 18%;
}
.my-dropdown {
  right: 0 !important;
}
.table-height {
  min-height: 320px;
  max-height: calc(100vh - 350px);
}
.page-content {
  padding-bottom: 90px;
}