body {
  font-size: 14px !important;
}


/* checkbox css start */
input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
input[type="checkbox"]+span {color: #000; }
input[type="checkbox"]+span:before {content: '';display: inline-block;width: 18px;margin-right: 0.5em;vertical-align: middle;height: 18px;border: 2px solid #ccc;border-radius: 2px;line-height: 15px;font-size: 12px;text-align: center;}
input[type="checkbox"]:checked+span:before {content: '\f00c';font-family: FontAwesome;}
input[type="checkbox"]:focus+span:before { outline: 1px dotted #aaa; }
input[type="checkbox"]:disabled+span { color: #999; }
input[type="checkbox"]:not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F;}

/* select start */
.select-style {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select-style:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  right: 15px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #acacac;
}
.select-style select {
  width: 100%;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 10px;
  /* border: 1px solid #ccc; */
  height: 32px;
  border-radius: 2px;
  font-size: 14px;
  border-color: #dcdcdc;
  color: #6f7880;
  background: #fff;
}
/* select css end */


.btn-blue {
  background: #36a1e9;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  height: 32px;
  line-height: 31px;
  padding: 0px 15px;
  border: 1px solid #36a1e9;
  transition: .5s all ease;
}
.btn-blue:hover {
  color: #36a1e9;
  background: #fff;
}
.form-control {
  height: 32px !important;
  border-radius: 2px !important;
  font-size: 14px !important;
  border-color: #dcdcdc !important;
}

/* checkbox css end */
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.modal-bg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 999;
}
.modal-bg .aside-panel {
  background: #f4f5f8;
  width: 480px;
  float: right;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
}
.aside-head {
  position: relative;
  border-bottom: 1px solid #c6c7c7;
  margin-bottom: 10px;
}
.aside-head > h3 {
  font-size: 16px;
  font-weight: normal;
}
.aside-head .close {
  font-weight: 300 !important;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #5d5d5d;
}
.advance-search {
  list-style-type: none;
}
.advance-search li {
  display: flex;
  padding-bottom: 20px;
}
.advance-search li a {
  padding: 0 8px;
  display: inherit;
}
.advance-search li input[type="text"] {
  width: 125px;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 13px;
  padding: 10px;
  height: 28px;
  border-radius: 3px;
  margin: 0 10px;
}
.page-number {
  display: flex;
  background: #fff;
  padding: 15px;
}
.page-number h4 {
  color: #ff5f00;
}

.page-number p {
  margin-bottom: 5px;
  color: #969696;
  font-size: 16px;
}
.page-number .wrap-row {
  padding-right: 40px;
}