<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">2019-1002</h4>
    <h4 class="active-modal">
        <span class="active"></span> Active</h4>
    <button type="button" class="close pull-right" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div class="modal-body">
    <div class="row" *ngIf="plansData && plansData?.subscription">
        <div class="col-sm-6 font-14">
            <p class="mb-0">{{plansData?.subscription?.userDetails?.name}}</p>
            <p class="mb-0">{{plansData?.subscription?.userDetails?.email}}</p>
            <p class="mb-0">{{plansData?.subscription?.userDetails?.mobileno}}</p>
        </div>
        <div class="col-sm-6 text-right xs-left">
            <!-- <a href="javascript:void(0)" class="btn btn-blue mr-1">Email</a>
            <a href="javascript:void(0)" class="btn btn-blue mr-1">SMS</a> -->
            <!-- <a class="btn btn-blue mr-1" (click)="openEditModal(editPlan)">Edit</a> -->
        </div>
    </div>

    <div class="row mt-2 mb-2" *ngIf="plansData && plansData?.subscription">
        <div class="col-sm-3 col-xs-4">
            <p class="text-gray">Plan Name</p>
            <h3 class="text-orange">{{plansData?.subscription?.planDetails?.name}}</h3>
        </div>
        <div class="col-sm-3 col-xs-4">
            <p class="text-gray">No of Companies</p>
            <h3 class="text-orange">{{plansData?.subscription?.totalCompanies}}/{{plansData?.subscription?.planDetails?.companiesLimit}}</h3>
        </div>
        <div class="col-sm-3 col-xs-4">
            <p class="text-gray">Amount</p>
            <h3 class="text-orange">{{plansData?.subscription?.planDetails?.amount}}/-</h3>
        </div>
    </div>

    <div class="clearfix">
        <tabset class="custom-tabs">
            <tab heading="Companies" id="tab1">
                <div class="table-responsive">
                    <table class="table table-bordered basic subscrib-list-table card-list-table">
                        <thead>
                            <tr (clickOutside)="inlineSearch = null">
                              <th class="table-search">
                                <div [hidden]="inlineSearch == 'planName'">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span>Company Name</span>
                                        <i class="fa fa-search pull-right" (click)="focusOnColumnSearch('planName')"></i>
                                    </div>
                                </div>
                                <div class="input-container" [hidden]="inlineSearch !== 'planName'">
                                    <input type="text" placeholder="Company Name" class="form-control w100"
                                        name="planName"
                                        (keypress)="columnSearch()" (keydown)="columnSearch()" />
                                </div>
                                </th>

                                <th class="table-search">
                                  <div [hidden]="userName == 'planName'">
                                      <div class="d-flex align-items-center justify-content-between">
                                          <span>User name</span>
                                          <i class="fa fa-search pull-right" (click)="focusOnColumnSearch2('planName')"></i>
                                      </div>
                                  </div>
                                  <div class="input-container" [hidden]="userName !== 'planName'">
                                      <input type="text" placeholder="User name" class="form-control w100"
                                          name="planName" (keydown)="columnSearch()" />
                                  </div>
                                  </th>

                                  <th class="table-search">
                                    <div [hidden]="SubscribedOn == 'planName'">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>Subscribed On</span>
                                            <i class="fa fa-search pull-right" (click)="focusOnColumnSearch3('planName')"></i>
                                        </div>
                                    </div>
                                    <div class="input-container" [hidden]="SubscribedOn !== 'planName'">
                                        <input type="text" placeholder="Subscribed On" class="form-control w100"
                                            name="planName" (keydown)="columnSearch()" />
                                    </div>
                                  </th>


                                  <th class="table-search">
                                    <div [hidden]="SubscriptionsID == 'planName'">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>subscription ID</span>
                                            <i class="fa fa-search pull-right" (click)="focusOnColumnSearch4('planName')"></i>
                                        </div>
                                    </div>
                                    <div class="input-container" [hidden]="SubscriptionsID !== 'planName'">
                                        <input type="text" placeholder="Subscribed On" class="form-control w100"
                                            name="planName" (keydown)="columnSearch()" />
                                    </div>
                                  </th>

                                  <th class="table-dropdown">Plan Name
                                    <div class="btn-group pull-right" dropdown>
                                      <button id="button-basic" dropdownToggle type="button" class="btn-multiselect dropdown-toggle pull-right"
                                              aria-controls="dropdown-basic"><span class="fa fa-angle-down"></span>
                                      </button>
                                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu multiselect-dropdown"
                                          role="menu" aria-labelledby="button-basic">
                                        <li role="menuitem"><input type="checkbox"> Plan 1</li>
                                        <li role="menuitem"><input type="checkbox"> Plan 2</li>
                                        <li role="menuitem"><input type="checkbox"> Plan 3</li>
                                      </ul>
                                    </div>
                                  </th>

                                <th>Balance <i class="fa pull-right fa-sort-numeric-asc"></i></th>
                                <th>Transaction Limit <i class="fa pull-right fa-sort-numeric-asc"></i></th>
                                <th>Total Amount <i class="fa pull-right fa-sort-numeric-asc"></i></th>
                                <th>Additional Transaction <i class="fa pull-right fa-sort-numeric-asc"></i></th>
                                <th>Additional Charges <i class="fa pull-right fa-sort-numeric-asc"></i></th>
                                <th>rate/Transaction <i class="fa pull-right fa-sort-numeric-asc"></i></th>
                                <th class="table-dropdown">Status
                                  <div class="btn-group pull-right" dropdown>
                                    <button id="button-basic" dropdownToggle type="button" class="btn-multiselect dropdown-toggle pull-right"
                                            aria-controls="dropdown-basic"><span class="fa fa-angle-down"></span>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu multiselect-dropdown"
                                        role="menu" aria-labelledby="button-basic">
                                      <li role="menuitem"><input type="checkbox"> Plan 1</li>
                                      <li role="menuitem"><input type="checkbox"> Plan 2</li>
                                      <li role="menuitem"><input type="checkbox"> Plan 3</li>
                                    </ul>
                                  </div>
                                </th>

                                <th>Expiry</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of companiesData">
                                <td data-title="Company Name">{{item.name}}</td>
                                <td data-title="User Name">User Name</td>
                                <td data-title="Subscribeon">{{item?.subscription?.startedAt}}</td>
                                <td data-title="Subcription1">{{subscriptionId}}</td>
                                <td data-title="Plan Name">Name of Plan Name</td>
                                <td data-title="Balance">{{item?.subscription?.balance}}</td>
                                <td data-title="Tranaction">{{item?.subscription?.planDetails?.transactionLimit}}</td>
                                <td data-title="Total">{{item?.subscription?.planDetails?.amount}}</td>
                                <td data-title="Additional">{{item?.subscription?.additionalTransactions}}</td>
                                <td data-title="Additional">{{item?.subscription?.additionalCharges}}</td>
                                <td data-title="rate">{{item.subscription?.planDetails?.ratePerExtraTransaction}}</td>
                                <td data-title="Status">{{item?.subscription?.status}}</td>
                                <td data-title="Expiry">{{item?.subscription?.expiry}}</td>
                            </tr>
                            <tr *ngIf="!companiesData || companiesData.length === 0">
                                <td colspan="13" align="center">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Log" disabled *ngIf="subscriptionsAuditLogs && subscriptionsAuditLogs.length>0">
                <ul class="log-items mt-3 mb-3">
                    <ng-container *ngFor="let item of subscriptionsAuditLogs">
                        <li>{{item.message}}</li>
                    </ng-container>
                </ul>
            </tab>
        </tabset>
    </div>
    <div class="text-center" *ngIf="progressData?.length && companiesAllRes.totalItems>paginationRequest?.count-1">
        <pagination [maxSize]="5" [totalItems]="companiesAllRes?.totalItems" [itemsPerPage]="companiesAllRes.count" [(ngModel)]="paginationRequest.page" (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [rotate]="false">
        </pagination>
    </div>
</div>


<ng-template #editPlan>
    <app-editPlan-modal></app-editPlan-modal>
</ng-template>