.subscrib-list-table thead tr th {
    min-width: 200px;
}
.multiselect-dropdown {
    max-height: 200px;
    overflow-y: auto;
}
.dropdown-table {
  min-height: 240px;
}
.advance-btn {
  position: relative;
  top: -8px;
}
.last-seen-radio span {
  display: block;
  margin-bottom: 5px;
}
#dropdown-basic {
  max-width: 330px;
  min-width: 330px;
}
.last-seet-dropdow {
  max-height: initial;
}
.pb-110 {
  padding-bottom: 120px;
}