<div class="">
  <div class="page-header">
    <div class="d-inline-flex">
      <h5 class="mb-0">Subscribers List</h5>
    </div>
    <button class="pull-right btn btn-blue">Assign Plan</button>
  </div>
  <div class="page-content">
    <div class="table-responsive">
        <table class="table table-bordered basic subscrib-list-table card-list-table table-striped">
          <thead>
            <tr>
              <th>Sub. on</th>
              <th>Sub ID</th>
              <th>User Name</th>
              <th>Plan</th>
              <th>No of Company</th>
              <th>Balance </th>
              <th>Tranaction Limit </th>
              <th>Licence Key </th>
              <th>Status</th>
              <th>Expiry</th>
              <th>Totalamount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td data-title="Signup On">{{item.SubOn}}</td>
              <td data-title="Subscribe on">{{item.SubID}}</td>
              <td data-title="Subscribtion Id"><a href="javascript:void(0)">{{item.UserName}}</a></td>
              <td data-title="Plan">{{item.Plan}}</td>
              <td data-title="No of Company">{{item.NoOfCompany}}</td>
              <td data-title="Transction Limit">{{item.Balance}}</td>
              <td data-title="Balance">{{item.TranactionLimit}}</td>
              <td data-title="Total Amount">{{item.LicenceKey}}</td>
              <td data-title="Additional Transction">{{item.Status}}</td>
              <td data-title="Additional Charges">{{item.Expiry}}</td>
              <td data-title="Additional Charges">{{item.TotalAmount}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
