<div class="aside-panel">
    <div class="top-right-head">
        <p class="bold text-18 text-white mb-0">Assign Plan</p>
        <a href="javascript:void(0)" (click)="closePopup()" class="close"><i class="icon-cross"></i></a>
    </div>
    <div class="clearfix pr-2 pl-2 pt-2">
        <form name="form" #assignPlanForm="ngForm" novalidate="" autocomplete="off">
            <div class="row">
                <div class="form-group clearfix">
                    <label class="col-md-4 pt-05">Email ID<span class="text-red">*</span></label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" placeholder="Email ID" #emailField name="userUniqueName" [(ngModel)]="assignPlanRequest.userUniqueName" required>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-4 pt-05">Country</label>   
                    <div class="col-md-8">
                        <sh-select [multiple]="false" placeholder="Select Country" name="country" autocomplete="false" id="country" (selected)="selectCountry($event)" [options]="countries" [isFilterEnabled]="true" [ItemHeight]="33"></sh-select>
                    </div>    
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-4 pt-05">Plan</label>   
                    <div class="col-md-8">
                        <sh-select [multiple]="false" placeholder="Select Plan" name="planUniqueName" autocomplete="false" id="planUniqueName" [(ngModel)]="assignPlanRequest.planUniqueName" [options]="plans" [isFilterEnabled]="true" [ItemHeight]="33"></sh-select>
                    </div>    
                </div>
            </div>
            <div class="clearfix mb-3">
                <button type="button" class="btn btn-blue mr-1" [disabled]="assignPlanForm.invalid || isLoading" (click)="assignPlan()">Done</button>
            </div>
        </form>    
    </div>
</div>