<!-- <div class="modal-header">
  <h4 class="modal-title pull-left">2019-1002</h4>
  <h4 class="active-modal">
  <span class="active"></span> Active</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-6 font-14">
      <p class="mb-0">Alok Gangrade</p>
      <p class="mb-0">alokgangrade@gmail.com</p>
      <p class="mb-0">9876543210</p>
    </div>
    <div class="col-sm-6 text-right xs-left">
      <a href="javascript:void(0)" class="btn btn-blue mr-1">Email</a>
      <a href="javascript:void(0)" class="btn btn-blue mr-1">SMS</a>
      <a href="javascript:void(0)" class="btn btn-blue mr-1">Edit</a>
    </div>
  </div>

  <div class="row mt-2 mb-2">
    <div class="col-sm-3 col-xs-4">
      <p class="text-gray">Plan Name</p>
      <h3 class="text-orange">Plan 2</h3>
    </div>
    <div class="col-sm-3 col-xs-4">
      <p class="text-gray">No of Companies</p>
      <h3 class="text-orange">10/100</h3>
    </div>
    <div class="col-sm-3 col-xs-4">
      <p class="text-gray">Amount</p>
      <h3 class="text-orange">4000/-</h3>
    </div>
  </div>

  <div class="clearfix">




    <tabset class="custom-tabs">
      <tab heading="Companies" id="tab1">
        <div class="table-responsive">
          <table class="table table-bordered basic subscrib-list-table card-list-table">
            <thead>
              <tr>
                <th>Company Name</th>
                <th>Subscribeon</th>
                <th>Subcription1</th>
                <th>Balance</th>
                <th>Tranaction</th>
                <th>Total</th>
                <th>Additional</th>
                <th>Additional</th>
                <th>rate/</th>
                <th>Status</th>
                <th>Expiry</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td data-title="Company Name">{{item.company}}</td>
                <td data-title="Subscribeon">{{item.subscribeon}}</td>
                <td data-title="Subcription1">{{item.subcription}}</td>
                <td data-title="Balance">{{item.Balance}}</td>
                <td data-title="Tranaction">{{item.Tranaction}}</td>
                <td data-title="Total">{{item.total}}</td>
                <td data-title="Additional">{{item.Additional}}</td>
                <td data-title="Additional">{{item.Additional1}}</td>
                <td data-title="rate">{{item.rate}}</td>
                <td data-title="Status">{{item.status}}</td>
                <td data-title="Expiry">{{item.expiry}}</td>
              </tr>

              <tr>
                <td data-title="Company Name"></td>
                <td data-title="Subscribeon"></td>
                <td data-title="Subcription1"></td>
                <td data-title="Balance"></td>
                <td data-title="Tranaction"></td>
                <td data-title="Total"></td>
                <td data-title="Additional"></td>
                <td data-title="Additional"></td>
                <td data-title="rate"></td>
                <td data-title="Status"></td>
                <td data-title="Expiry"></td>
              </tr>

            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Log" id="tab2">
        <ul class="log-items mt-3 mb-3">
          <li>Renew plan 2 on 05/05/2019</li>
          <li>Additional transactions 1000 added to the plan 2 on 01/05/2019</li>
          <li>Subscribed plan 2 on 05/04/2019</li>
          <li>signup on 01/04/2019</li>
        </ul>
      </tab>
    </tabset>
  </div>
</div>
  -->