<div class="bg-box" [ngClass]="rightToggle ? 'in': 'out'"></div>
<div class="rightSlide kot-repring-sidebar" [ngClass]="rightToggle ? 'in': 'out'">
    <div class="top-right-head">
        <p class="bold text-18 text-white mb-0">Create Plan</p>
        <a href="javascript:;" (click)="closePopup()" class="close"><i class="icon-cross"></i></a>
    </div>
    <div class="clearfix pr-2 pl-2 pt-2">
        <form name="form" #createPlanForm="ngForm" novalidate="" autocomplete="off">
            <div class="form-group">
                <label>Plan Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="createPlanRequest.name" required>
            </div>
            <div class="form-group">
                <label>Number of companies allowed</label>
                <input type="number" class="form-control" min="1" name="companiesLimit" [(ngModel)]="createPlanRequest.companiesLimit" required>
            </div>
            <div class="form-group">
                <label>Number of transactions</label>
                <input type="number" class="form-control" min="1" name="transactionLimit" [(ngModel)]="createPlanRequest.transactionLimit" required>
            </div>
            <div class="form-group">
                <label>Subscription Price</label>
                <input type="number" class="form-control" name="amount" [(ngModel)]="createPlanRequest.amount" required>
            </div>
            <div class="form-group">
                <label>Country</label>
                <mat-form-field>
                    <mat-select class="form-control" name="countries" [(ngModel)]="createPlanRequest.countries" multiple required>
                        <mat-option value="">Select</mat-option>
                        <mat-option *ngFor="let country of countries;" [value]="country">{{country}}</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
            <div class="form-group">
                <label>Currency</label>
                <mat-form-field>
                    <mat-select class="form-control" name="currency" [(ngModel)]="createPlanRequest.currency" required>
                        <mat-option value="">Select</mat-option>
                        <mat-option *ngFor="let currency of currencies;" [value]="currency">{{currency}}</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
            <div class="form-group">
                <label>Duration</label>
                <input type="number" class="form-control" min="1" name="duration" [(ngModel)]="createPlanRequest.duration" required>
            </div>
            <div class="form-group">
                <label>Duration Unit</label>
                <mat-form-field>
                    <mat-select class="form-control" name="durationUnit" [(ngModel)]="createPlanRequest.durationUnit" required>
                        <mat-option value="YEAR">YEAR</mat-option>
                        <mat-option value="MONTH">MONTH</mat-option>
                        <mat-option value="WEEK">WEEK</mat-option>
                        <mat-option value="DAY">DAY</mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
            <div class="form-group">
                <label>Rate Per Extra Transaction</label>
                <input type="number" class="form-control" min="0" name="ratePerExtraTransaction" [(ngModel)]="createPlanRequest.ratePerExtraTransaction" required>
            </div>
            <input type="button" value="Create" class="btn-blue btn" (click)="createPlan()" [disabled]="createPlanForm.invalid || isLoading">
        </form>
    </div>
</div>