<div class="modal-bg">
  <div class="aside-panel">
    <div class="aside-head">
      <h3 class="aside-title">Some text</h3>
      <a href="javascript:void(0)" class="close"><i class="fa fa-close"></i></a>
    </div>

    <div class="clearfix">
      <ul class="advance-search m-0 p-0">
        <li><label><input type="checkbox"><span>balance is</span></label> <a href="#">Greater than</a> <input type="text" placeholder="no of transactions" bsDatepicker></li>
        <li><label><input type="checkbox"><span>purchase</span></label> <a href="#">before</a> <input type="text" placeholder="date"></li>
        <li><label><input type="checkbox"><span>Expiry</span></label> <a href="#">before</a> <input type="text" placeholder="date"></li>
        <li><label><input type="checkbox"><span>Signup between</span></label> <input type="text" placeholder="Start date"> To <input type="text" placeholder="Start date"></li>
      </ul>
    </div>
  </div>
</div>