<div class="">
  <div class="pageHeader">
    <div class="inline-flex-subscription">
      <h5 class="mb-0">Subscribers List</h5>
      <a class=" btn-link ml-2" href="javascript:void(0)_" on-click="RightSlide()">Advance Search</a>
    </div>
    <button class="pull-right btn btn-blue">Assign Plan</button>
  </div>
  <div class="page-content">
    <div style="width:100%;">
      <perfect-scrollbar [scrollIndicators]="true">
        <table class="table table-bordered basic mt-3 subscrib-list-table card-list-table">
          <thead>
            <tr>
              <th>Signup On <i class="fa fa-search pull-right"></i></th>
              <th>Subscribe on</th>
              <th>Subscribtion Id</th>
              <th>Plan</th>
              <th>No of Company</th>
              <th>Transction Limit </th>
              <th>Balance </th>
              <th>Total Amount </th>
              <th>Additional Transction</th>
              <th>Additional Charges</th>
              <th>Rate/Transction</th>
              <th>Expiry</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Signup On">12/08/2019</td>
              <td data-title="Subscribe on">12/08/2019</td>
              <td data-title="Subscribtion Id"><a href="javascript:void(0)"
                  (click)="openModalWithClass(template)">2019-1009</a>
              </td>
              <td data-title="Plan">Plan2</td>
              <td data-title="No of Company">10/100</td>
              <td data-title="Transction Limit">10000</td>
              <td data-title="Balance">1000</td>
              <td data-title="Total Amount">4000/-</td>
              <td data-title="Additional Transction">1000</td>
              <td data-title="Additional Charges">100</td>
              <td data-title="Rate/Transction">0.1</td>
              <td data-title="Expiry"> 12/08/2019 </td>
              <td data-title="Status">Active</td>
            </tr>
            <tr *ngFor="let subscription of subscriptionData">
              <td data-title="Signup On">{{subscription.userDetails.signUpOn}}</td>
              <td data-title="Subscribe on">{{subscription.startedAt}}</td>
              <td data-title="Subscribtion Id"><a href="javascript:void(0)">{{subscription.subscriptionId}}</a></td>
              <td data-title="Plan">{{subscription.planDetails.name}}</td>
              <td data-title="No of Company">{{subscription.companies?.length}}/{{subscription.totalCompanies}}</td>
              <td data-title="Transction Limit">{{subscription.planDetails.transactionLimit}}</td>
              <td data-title="Balance">{{subscription.balance}}</td>
              <td data-title="Total Amount">{{subscription.planDetails.amount}}/-</td>
              <td data-title="Additional Transction">{{subscription.additionalTransactions}}</td>
              <td data-title="Additional Charges">{{subscription.additionalCharges}}</td>
              <td data-title="Rate/Transction">{{subscription.planDetails.ratePerExtraTransaction}}</td>
              <td data-title="Expiry">{{subscription.expiry}}</td>
              <td data-title="Status">{{subscription.status}}</td>
            </tr>
          </tbody>
        </table>
      </perfect-scrollbar>

    </div>

    <div class="page-footer">
      <div class="row">
        <div class="col-md-1 col-sm-3 wrap-row">
          <div class="userNumber">
            <h4>90</h4>
          </div>
          <div class="aboutUser">
            <p>Total User</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-3 wrap-row">
          <div class="userNumber">
            <h4>75</h4>
          </div>
          <div class="aboutUser">
            <p>Active User</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-3 wrap-row">
          <div class="userNumber">
            <h4>15</h4>
          </div>
          <div class="aboutUser">
            <p>Inactive User</p>
          </div>
        </div>
        <div class="col-md-1 col-sm-3 wrap-row">
          <div class="userNumber">
            <h4>10</h4>
          </div>
          <div class="aboutUser">
            <p>Trial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix left-side-main" [ngClass]="rightToggle ? 'in': 'out'">
  <app-advance-search></app-advance-search>
</div>


<!-- edit modal  -->

<ng-template #template>
  <div class="modal-header  themeBg pd2 pdL2 pdR2 clearfix">
    <h4 class="modal-title pull-left">2019-1002</h4>

    <span class="state pull-right"> <span class="active-state"></span> Active</span>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex wrap-about-subscriber">
      <div class="about-subscriber">
        <p>Alok Gangrade</p>
        <p>alokgangrade@gmail.com</p>
        <p>9100000000</p>
      </div>
      <div class="button-group">
        <button class="btn btn-default mr-1">Email</button>
        <button class="btn btn-default mr-1">SMS</button>
        <button class="btn btn-default mr-1">Edit</button>
      </div>
    </div>

    <div class="about-plan-companies d-flex mt-3">
      <div class="plan-block">
        <h5>Plan Name</h5>
        <h3>Plan 2</h3>
      </div>
      <div class="plan-block">
        <h5>No. of Companies</h5>
        <h3>10/100</h3>
      </div>
      <div class="plan-block">
        <h5>Amount</h5>
        <h3>4000/-</h3>
      </div>
    </div>
  </div>
</ng-template>