.page-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  padding: 15px 15px;
  margin: 0 -15px;
}
.aboutUser p {
  margin: 0;
  color: grey;
}
.userNumber h4 {
  color: #1b1f6d;
  font-size: 30px;
  margin: 0;
}

.left-side-main.out {
  display: none;
}
.inline-flex-subscription{
  display: inline-flex !important;
}
.table-search {
  width: 10%;
}
.table-height {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}
@media(max-width:1280px){
  .basic > thead > tr > th{
    min-width: 150px;
  }
}
@media(max-width:767px){
  .card-list-table tbody tr {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .wrap-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .aboutUser {
    width: 140px;
  }
  .userNumber h4 {
    font-size: 14px;
  }
  .inline-flex-subscription{
    display: inline-flex !important;
  }
  .aboutUser p {
    font-size: 14px;
  }
}
@media(max-width:575px){
  .pageHeader .btn-blue{
    float: none;
    width: 100%;
    margin-top: 10px;
  }
}