<div class="aside-panel">
    <div class="top-right-head">
        <p class="bold text-18 text-white mb-0">Update Transactions</p>
        <a href="javascript:void(0)" (click)="closePopup()" class="close"><i class="icon-cross"></i></a>
    </div>
    <div class="clearfix pr-2 pl-2 pt-2">


        <div class="row">
            <div class="form-group clearfix">
                <label class="col-md-4 pt-05">Transactions<span class="text-red">*</span></label>
                <div class="col-md-8">
                    <input type="number" class="form-control" placeholder="No of transactions" name="addOnTransactions" [(ngModel)]="updateTransactions.addOnTransactions">
                </div>
            </div>

            <div class="form-group clearfix">
                <label class="col-md-4 pt-05">Action<span class="text-red">*</span></label>
                <div class="col-md-8">
                    <sh-select placeholder="Select" name="durationUnit" autocomplete="false"
                        id="durationUnit" [(ngModel)]="updateTransactions.action" [options]="transactionActions"
                        [isFilterEnabled]="true" [ItemHeight]="33"></sh-select>
                </div>
            </div>
        </div>

        <div class="clearfix mb-3">
            <button type="button" class="btn btn-blue mr-1">Done</button>
            <button type="button" class="btn btn-blue-outline">Cancel</button>
        </div>

        <div class="clearfix">
            <label class="text-gray mb-1">Selected users</label>
            <div class="form-group" *ngFor="let user of subscribedUsers;">
                <label class="mr-1">{{user?.userDetails?.name}}</label>
            </div>
        </div>
    </div>
</div>